.git
.gitignore
.github
.bundle
.worktrees

.env*
config/master.key
config/credentials/*.key

log/*
tmp/*
storage/*

!/log/.keep
!/tmp/.keep
!/storage/.keep

node_modules
vendor/bundle

coverage
public/assets
public/packs

.DS_Store
spec/examples.txt
